
<div class="homebg">
			
		<div class="signup_form col-md-3 col-md-offset-8">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>

		    <div class="form-group">
		      
		      <%= f.email_field :email, :placeholder => "email", class: 'form-control input-lg' %>
		    </div>
		    <div class="form-group">
		     
		      <%= f.password_field :password, :placeholder => "password", class: 'form-control input-lg' %>
		    </div>
		    <div class="form-group">
		     
		      <%= f.password_field :password_confirmation, :placeholder => "password", class: 'form-control input-lg' %>
		    </div>
		    <div class="form-group">
		          <%= f.check_box :as_start, :checked => true %> Je suis entrepreneur     
		        </div>
		     <%= f.submit 'Inscription', :class => 'btn btn-primary btn-lg btn-block' %>
		  <% end %>
		</div>
		
</div>
