<% if @course.my_feedbacks.any? %>
	<% @course.my_feedbacks.each do |feedback| %>

	<% if feedback.user_id == current_user.id %>
		<h3 class="text-center">Merci pour votre feedback !
			<br><small>Quelque chose vous a échappé ? Vous pouvez toujours le modifier.</small>
		</h3>
		<hr>
		<i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
		<p class="lead"><i><%= feedback.content %></i></p>
		<%= link_to "Modifier", edit_my_feedback_path(feedback), class: "pull-right btn btn-default" %>
		
	<% else %>
		<%= simple_form_for(@my_feedback) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-group">
		    <h3>Qu'avez-vous préféré, et qu'avez vous moins apprécié, de cette formation ?</h3>
		    <%= f.hidden_field :course_id, :value => @course.id %>
		    <%= f.text_area :content, class: "form-control input-lg" %>
		  </div>

		  <div class="text-center">
		    <%= f.button :submit, "Enregistrer mon feedback", class: "btn btn-info btn-lg" %>
		  </div>
		<% end %>
		<% end %>
	<% end %>
<% else %>
	<%= simple_form_for(@my_feedback) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-group">
	    <h3 class="text-center">Qu'avez-vous apprécié ? Qu'avez vous moins apprécié ?
	    	<br><small>Votre feedback permettra l'amélioration constante de nos services. Merci déjà !</small></h3>
	    	<hr>
	    <%= f.hidden_field :course_id, :value => @course.id %>
	    <%= f.text_area :content, class: "form-control input-lg" %>
	  </div>

	  <div class="text-center">
	    <%= f.button :submit, "Enregistrer mon feedback", class: "btn btn-info btn-lg" %>
	  </div>
	<% end %>
<% end %>