<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">      

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active">
          <%= image_tag "HKNslides/HKNslides.001.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.002.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.003.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.004.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.005.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.006.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.007.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.008.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.009.jpg" %> 
        </div>
<!--
        <div class="item">
          <%= image_tag "HKNslides/HKNslides.010.jpg" %> 
        </div> -->

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.011.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.012.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.013.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.014.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.015.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.016.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "HKNslides/HKNslides.017.jpg" %> 
        </div>
    </div>

    <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
</div>