
<h3 class="page-header">Business</h3>

<h4>3 lectures clés :</h4>
<ul>
	<li>Josh Kaufmann, The Personal MBA</li>
	<li>Eric Ries, The Lean Startup</li>
	<li>Jason Friedman, Rework</li>
</ul>

<h3 class="page-header">html</h3>

<p><%= link_to "http://codecademy.com", "http://codecademy.com" %></p>

<h3 class="page-header">css</h3>

<p><%= link_to "http://codecademy.com", "http://codecademy.com" %></p>

<h3 class="page-header">ruby et rails</h3>

<p><%= link_to "http://tryruby.org", "http://tryruby.org" %></p>
<p><%= link_to "http://guides.rubyonrails.org", "http://guides.rubyonrails.org" %></p>
<p><%= link_to "http://codecademy.com", "http://codecademy.com" %></p>


