<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">      

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.001.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.002.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.003.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.004.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.005.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.006.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.007.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.008.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.009.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.010.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.011.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.012.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.013.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.014.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.015.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.016.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.017.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.018.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.019.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.020.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.021.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.022.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.023.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.024.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.025.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.026.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.027.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.028.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.029.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.030.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.031.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.032.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_acheteurs/telindus_acheteurs.033.jpg" %>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <h3 class="text-center"><%= link_to "Télécharger en format pdf", "http://hackuna.org/HACKUNA_pdf_acheteurs.pdf", :target => "_blank", class: "btn btn-primary btn-lg btn-block" %></h3>



