<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">      

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.001.jpg" %> 
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.002.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.003.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.004.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.005.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.006.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.007.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.008.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.009.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.010.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.011.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.012.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.013.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.014.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.015.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.016.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.017.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.018.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.019.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.020.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.021.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.022.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.023.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.024.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.025.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.026.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.027.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.028.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.029.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.030.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.031.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.032.jpg" %>
        </div>

        <div class="item">
          <%= image_tag "telindus_vendeurs/telindus_vendeurs.033.jpg" %>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <h3 class="text-center"><%= link_to "Télécharger en format pdf", "http://hackuna.org/HACKUNA_pdf_vendeurs.pdf", :target => "_blank", class: "btn btn-primary btn-lg btn-block" %></h3>



