

<h1 class="page-header bigger">Vos formations</h1>
<% if current_user.courses.any? %>
<% current_user.courses.each do |course| %>
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <% if course.name.include? "acheteur" %>
        <%= image_tag("law.png", size: "50x50") %>
        <% elsif course.name.include? "eekend" %>
        <%= image_tag("webdev.png", size: "50x50") %>
        <% elsif course.name.include? "vendeur" %>
          <%= image_tag("law.png", size: "50x50") %>
        <% end %>
      </div>
      <div class="col-md-10">
        <h1 class="biggy"><span class="hkncolor" ><%= link_to course.name, course%></span>
        <br><small><%= course.description %></small></h1>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-9">
        <p class="lead"></p>
      </div>
      <div class='col-md-3'>
      <%= link_to "voir le cours", course, class: "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<% else %>





<h3 class="text-center">Prochain weekend de formation <span class="hackunafont">Hackuna</span> : 
  <br>3, 4 et 5 juillet 2015 (Bruxelles)</h3>
<br>

  <% if current_user.as_start && current_user.subscriptions.none %>

    <%= render "next_hackuna_weekend" %>

  <% end %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    
      <ul class="list-group">
        <li class="list-group-item active">
          <h2 class="list-group-item-heading">Weekend suivants</h2>
        </li>

        <li class="list-group-item">
          <p>Juillet II : 24, 25, 26 juillet 2015
            <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#HKNjuillet2">
            Réserver ma place 
            <span class="badge">5</span>
          </button>
          </p>
        </li>

        <li class="list-group-item">
          <p>Août I : 8, 9, 10 août 2015
          <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#HKNaout1">
            Réserver ma place 
            <span class="badge">5</span>
          </button>
        </li>
        <li class="list-group-item">
          <p>Août II : 21, 22, 23 août 2015
          <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#HKNaout2">
            Réserver ma place 
            <span class="badge">5</span>
          </button>
        </li>
        <li class="list-group-item">
          <p>Septembre : 25, 26, 27 septembre 2015
          <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#HKNseptembre">
            Réserver ma place 
            <span class="badge">5</span>
          </button>
        </li>
        <li class="list-group-item">
          <p>Octobre : 23, 24, 25 octobre 2015
          <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#HKNoctobre">
            Réserver ma place 
            <span class="badge">5</span>
          </button>
        </li>
        <li class="list-group-item">
          <p>Novembre : 27, 28, 29 novembre 2015
          <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#HKNnovembre">

            Réserver ma place 
            <span class="badge">5</span>
          </button>
        </li>
      </ul>
    </div>
  </div>


  <h3 class="text-center"><small>Vous souhaitez nous adresser une demande précise ? 
    <br>Cliquez-ci dessous :</small>
  <br>
  <br><%= link_to "Demande spécifique", "mailto:contact@hackuna.org", class: "btn btn-primary btn-lg" %>
</h3>

<%= render "hknmodals" %>


 <% end %>

